.Checkbox {
  display: flex;
  align-items: center;
  padding: 0.5rem;

  & .Checkbox__label {
    flex-shrink: 0;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
  }

  & .Checkbox__input {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    background: #252224;
    cursor: pointer;
    border: 2px solid var(--blue-500);

    &:checked {
      &::before {
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
      }
    }

    &:indeterminate {
      &::before {
        top: 2px;
        right: 2px;
        bottom: 2px;
        left: 2px;
      }
    }

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      right: 50%;
      bottom: 50%;
      left: 50%;
      transition: all 0.1s;
      background: var(--blue-500);
    }

    &:disabled {
      border-color: #5a5358;
      cursor: default;

      &::before {
        background-color: #5a5358;
      }
    }
  }
}
