.IconButton {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  &:focus,
  &:focus-visible {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

