.listItem {
    padding: 8px 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: background 0.2s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.listItem:last-child {
    border-bottom: none;
}

.listItem small {
    color: #777;
}

.listItem--active {
    background-color: #072446;
}

.listItem:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
