.CardListItem {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.CardListItem__title {
  color: hsl(210, 100%, 70%);
}

.CardListItem__label {
  display: inline-block;
  color: #cccccc;
  width: 175px;
}

@container card (min-width: 570px) {
  .CardListItem__label {
    width: 250px;
  }
}

@container card (max-width: 449px) {
  .CardListItem {
    flex-direction: column;
    align-items: initial;
    gap: initial;
  }

  .CardListItem__label {
    width: 100%;
  }
}
