.RadioButton {
  width: 44px;
  height: 22px;
  background: #0E78F8;
  border-radius: 10px;
  position: relative;
  transition: background 0.2s ease-out;
}

.RadioButton.RadioButton--unselected {
  background: #34394B;
}

.RadioButton__circle {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #ffffff;
  display: block;
  position: absolute;
  right: 2px;
  top: 2px;
  transition: left 0.2s ease-out;
}

.RadioButton--unselected .RadioButton__circle {
  left: 2px;
}
