.app {
  display: flex;
  min-height: 100vh;
  container-type: inline-size;
  container-name: app;
}

.sidebar {
  border-right: 1px solid #333333;
  padding-bottom: 24px;
  top: 0;
  display: flex;
  outline: 0;
  z-index: 1200;
  overflow-y: auto;
  flex-direction: column;
  width: var(--sidebar-width);
  flex-shrink: 0;
  background-color: #1a1a1a;

  transition:
    width 325ms cubic-bezier(0, 0, 0.2, 1),
    box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar__hidden {
  width: var(--sidebar-width-collapsed);
  transform: translateX(0);
  flex-shrink: 0;

  transition: 325ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  .nav__link span {
    opacity: 0;
    width: 0;
    transition: opacity 150ms ease;
  }
}

.sidebar__show {
  width: var(--sidebar-width);
  box-shadow:
    0 8px 10px -5px rgba(0, 0, 0, 0.2),
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12);

  .nav__link span {
    opacity: 1;
    transition: opacity 250ms ease 100ms;
  }
}

.sidebar__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: -1;
  background-color: transparent;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sidebar__closeIcon {
  display: none;
}

@container app (max-width: 819px) {
  .sidebar__show {
    position: fixed;
    height: 100vh;
  }

  .sidebar__closeIcon {
    display: block;
  }

  .main__overlay--show {
    opacity: 1;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .main__overlay--hidden {
    opacity: 0;
    z-index: -1;
    background-color: transparent;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.nav {
  display: grid;
  margin-top: 24px;
  container-name: nav;
  container-type: inline-size;
}

.nav__link {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

@container nav (max-width: 200px) {
  .nav__link {
    padding: 10px;
    justify-content: center;

    svg {
      width: 28px;
      height: 28px;
    }
  }
}

.nav__link--active {
  background-color: #37373d;
  color: #fff;
}

.sidebar__header,
.main__header {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  height: 60px;
  border-bottom: 1px solid #ffffff0d;
}

.main {
  flex-grow: 1;
}

.main__content {
  padding: 24px;
  container-name: content;
  container-type: inline-size;
}

@container content (max-width: 529px) {
  .nav__link {
    padding: 10px;
    justify-content: center;

    span {
      display: none;
    }

    svg {
      width: 28px;
      height: 28px;
    }
  }
}
