.app {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
}

.sidebar {
  border-right: 1px solid #333333;
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav {
  display: grid;
}

.nav__link {
  padding: 8px 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav__link--active {
  background-color: #37373d;
  color: #fff;
}

.content {
  padding: 24px;
  container-name: content;
  container-type: inline-size;
}
